body {
    font-family: -apple-system, "PT Sans Caption", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #262626;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.about {
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.about img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 60px;
}

.privacy {
    font-size: 1.5em;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.privacy ul {
    text-align: left;
}

.privacy li {
    margin-bottom: 1.5rem;
}

.privacy-icon {
    width: 300px;
    height: 300px;
    border-radius: 60px;
    object-fit: cover;
}

.project {
    background-color: #262626;
    border-radius: 16px;
    padding: 2rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.04);
}

.project-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-icon {
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.project-image {
    height: 80px;
    object-fit: cover;
}

.appstore-image {
    height: 50px;
    object-fit: cover;
}

a {
    color: #639ef4;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #005f99;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #262626;
    color: #fff;
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
